 .weather-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 250px;          
}
.weather-content {
  position: relative;
  z-index: 5;
  color: white;
}
.weather-bg {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;     
  background-position: center;
  background-image:
    url('/assets/images/bg-today-large.svg');}